<%-include('partials/header.ejs')%>
<%-include('partials/navbar.ejs')%>

<body>
  <div class="container">
    <div class="card">
      <div class="card-body text-bg-primary">
        <h3><%=pergunta.titulo%></h3>
      </div>
      <div class="card-footer">
        <p><%=pergunta.descricao%></p>

        <form method="post" action="/responder">
          <textarea class="form-control" name="corpo" id="" rows="8" placeholder="Insira sua Resposta"></textarea>
          <button type="submit" class="btn btn-primary">Responder</button>

          <input type="hidden" name="perguntaId" value="<%=pergunta.id %>">
        </form>
        <hr>
        <div class="card resposta">
          <div class="card-title text-bg-primary">
            <h3>Respostas</h3>
          </div>
          <div class="card-body">
            <%respostas.forEach(resposta =>{ %>
            <hr>
            <%= resposta.id+"-"%>
            <%= resposta.corpo%>
            <%})%>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<%- include('partials/footer.ejs')%>