<%-include('partials/header.ejs')%>
<%-include('partials/navbar.ejs')%>

<body>
  <div class="container">
    <div class="card">
      <div class="card-body text-bg-primary">
        <h3><%=pergunta.titulo%></h3>
      </div>
      <div class="card-footer">
        <p><%=pergunta.descricao%></p>
        <form method="post" action="/respostas">
        <textarea class="form-control" name="corpo" id="" rows="8" placeholder="Insira sua Resposta"></textarea>
        <button class="btn btn-primary">Responder</button>

        <input type="hidden" value="<%=pergunta.id %>">
        </form>
      </div>
    </div>
  </div>

</body>
<%- include('partials/footer.ejs')%>